@page "/"

<PageTitle>Fixafixa</PageTitle>

<h1>Fixafixa</h1>

<p>Welcome to Fixafixa. A series of little tools i personally use.</p>
<p>Everything runs in the client unless stated otherwise whitin the specific function.</p>
<p>No data is collected server-side.</p>

